@media (min-width: 35em) {
  .carousel-wrapper {
    overflow: hidden;
    margin-top: 5.6rem;

    .alice-carousel__next-btn-item,
    .alice-carousel__prev-btn-item {
      color: white;
      cursor: pointer;
    }

    .alice-carousel__stage {
      display: flex;
      gap: 1.6rem;
      li {
        flex: 10rem 1 1;
        position: relative;
      }
    }

    .clients-thumbs {
      width: 10rem;
      height: 10rem;
      &::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        inset: 0;
      }
    }
  }

  .header {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 6.4rem;
    & > h4 {
      color: white;
      font-size: 2.4rem;
      width: 30rem;
      line-height: 2.9rem;
      & > span {
        color: $yellow;
      }
    }
    z-index: -2;
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      inset: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 1) 10%, transparent 90%);
    }
  }

  .sec2 {
    background-color: #1d1d1d;
    color: white;
    padding-block: 7.2rem;
    & > div {
      display: flex;
      gap: 3.2rem;

      .svg-icons {
        & > svg {
          color: white;
          font-size: 6.4rem;
        }
        margin-bottom: 1.6rem;
      }
      p {
        color: rgba(255, 255, 255, 0.6);
      }
      h2 {
        line-height: 3.6rem;
        margin-bottom: 1.6rem;
      }
      a {
        margin-top: 3.2rem;
        display: block;
        border: solid 0.1rem white;
        padding-block: 0.8rem;
        color: white;
        border-radius: 2.4rem;
        padding-inline: 1.6rem;
        width: max-content;
        display: flex;
        gap: 0.8rem;
        align-items: center;
        &:hover {
          background-color: white;
          color: $black;
        }
      }

      & > div:nth-of-type(2) {
        display: flex;
        gap: 3.2rem;
      }
    }
  }

  .sec3 {
    background-color: black;
    padding-block: 7.2rem;
    color: white;
    h5,
    h2 {
      text-align: center;
    }
    h5 {
      margin-bottom: 1.2rem;
    }
    h2 {
      margin-bottom: 5.6rem;
    }
    & > div:nth-of-type(1) {
      display: flex;

      & > div {
        flex: 10rem 1 1;
      }

      & > div:nth-of-type(1) {
        position: relative;
        &::before {
          content: '';
          inset: 0;
          position: absolute;
          background-image: linear-gradient(to top, black, transparent);
        }
      }

      & > div:nth-of-type(2) {
        h4 {
          margin-bottom: 2.4rem;
        }
        & > div {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }

    & > div:nth-of-type(2) {
      display: flex;
      gap: 3.2rem;
      margin-top: 5.6rem;
      & > div {
        flex: 10rem 1 1;
        text-align: center;
        h1 {
          font-size: 4.8rem;
          margin-bottom: 1.6rem;
        }
        h5 {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }

  .sec4 {
    display: flex;

    & > div {
      flex: 10rem 1 1;
    }
    & > div:nth-of-type(1) {
      overflow: hidden;

      & > div {
        height: 60rem;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7),
            transparent
          );
        }
        transition: 0.3s;
      }

      &:hover > div {
        cursor: pointer;
        scale: 1.5;
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
          );
        }
      }
    }
    & > div:nth-of-type(2) {
      & > div:nth-of-type(1) {
        display: flex;
        & > div {
          flex: 10rem 1 1;
          overflow: hidden;

          & > div {
            height: 30rem;
            position: relative;
            transition: 0.3s;
            &::before {
              content: '';
              position: absolute;
              inset: 0;
              background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.7),
                transparent
              );
            }
          }

          &:hover > div {
            cursor: pointer;
            scale: 1.5;
            &::before {
              content: '';
              position: absolute;
              inset: 0;
              background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)
              );
            }
          }
        }
      }
      & > div:nth-of-type(2) {
        overflow: hidden;

        & > div {
          transition: 0.3s;
          height: 30rem;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.7),
              transparent
            );
          }
        }

        &:hover > div {
          cursor: pointer;
          scale: 1.5;
          &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0.7)
            );
          }
        }
      }
    }
  }
}

@media (max-width: 35em) {
  .carousel-wrapper {
    overflow: hidden;
    margin-top: 5.6rem;
    .alice-carousel__next-btn-item,
    .alice-carousel__prev-btn-item {
      color: white;
      cursor: pointer;
    }

    .alice-carousel__stage {
      display: flex;
      gap: 1.6rem;
      li {
        flex: 10rem 1 1;
        position: relative;
      }
    }

    .clients-thumbs {
      width: 10rem;
      height: 10rem;
      &::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        inset: 0;
      }
    }
  }

  .header {
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 2.4rem;
    & > h4 {
      color: white;
      font-size: 2.4rem;
      width: 30rem;
      line-height: 2.9rem;
      & > span {
        color: $yellow;
      }
    }
    z-index: -2;
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      inset: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 1) 10%, transparent 90%);
    }
  }

  .sec2 {
    background-color: #1d1d1d;
    color: white;
    padding: 2.4rem;
    

    & > div {
      .svg-icons {
        & > svg {
          color: white;
          font-size: 6.4rem;
        }
        margin-bottom: 2.4rem;
      
      }
      p {
        color: rgba(255, 255, 255, 0.6);
      }
      h2 {
        line-height: 3.6rem;
        margin-bottom: 1.6rem;
      }
      a {
        margin-block: 2.4rem;
        display: block;
        border: solid 0.1rem white;
        padding-block: 0.8rem;
        color: white;
        border-radius: 2.4rem;
        padding-inline: 1.6rem;
        width: max-content;
        display: flex;
        gap: 0.8rem;
        align-items: center;
        &:hover {
          background-color: white;
          color: $black;
        }
      }
    }
  }

  .sec3 {
    background-color: black;
    padding-block: 7.2rem;
    color: white;
    padding-inline: 2.4rem;
    h5,
    h2 {
      text-align: center;
    }
    h5 {
      margin-bottom: 1.2rem;
    }
    h2 {
      margin-bottom: 5.6rem;
    }
    & > div:nth-of-type(1) {
      & > div:nth-of-type(1) {
        position: relative;
        &::before {
          content: '';
          inset: 0;
          position: absolute;
          background-image: linear-gradient(to top, black, transparent);
        }
      }

      & > div:nth-of-type(2) {
        h4 {
          margin-bottom: 2.4rem;
        }
        & > div {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }

    & > div:nth-of-type(2) {
      margin-top: 5.6rem;
      display: flex;
      gap: 1.6rem;
      & > div {
        flex: 1 1 5rem;
        text-align: center;
        h1 {
          font-size: 3.8rem;
          margin-bottom: 1.6rem;
        }
        h5 {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }

  .sec4 {
    padding: 2.4rem;
    & > div:nth-of-type(1) {
      overflow: hidden;
      & > div {
        height: 40rem;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7),
            transparent
          );
        }
        transition: 0.3s;
      }

      &:hover > div {
        cursor: pointer;
        scale: 1.5;
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
          );
        }
      }
    }
    & > div:nth-of-type(2) {
      & > div:nth-of-type(1) {
        display: flex;
        & > div {
          flex: 10rem 1 1;
          overflow: hidden;

          & > div {
            height: 20rem;
            position: relative;
            transition: 0.3s;
            &::before {
              content: '';
              position: absolute;
              inset: 0;
              background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.7),
                transparent
              );
            }
          }

          &:hover > div {
            cursor: pointer;
            scale: 1.5;
            &::before {
              content: '';
              position: absolute;
              inset: 0;
              background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)
              );
            }
          }
        }
      }
      & > div:nth-of-type(2) {
        overflow: hidden;

        & > div {
          transition: 0.3s;
          height: 20rem;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.7),
              transparent
            );
          }
        }

        &:hover > div {
          cursor: pointer;
          scale: 1.5;
          &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0.7)
            );
          }
        }
      }
    }
  }
}
