.active {
  color: $yellow !important;
}

@media (min-width: 35em) {
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999999;
    &.show {
      background-color: $black;
      transition: 0.3s;
    }
    padding-block: 0.8rem;
    .container {
      gap: 3.2rem;
      & > div:nth-of-type(1) {
        flex-basis: 30rem;
        flex-grow: 1;
      }

      & > div:nth-of-type(2) {
        flex-basis: 50rem;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        ul {
          display: flex;
          gap: 4rem;
          align-items: center;

          li:nth-of-type(6) a {
            display: block;
            background-color: $yellow;
            padding: 1.2rem;
            border-radius: 2.4rem;
            color: $black;
          }
        }
      }
    }
    a {
      color: $white;
    }
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 35em) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.6rem;
    background-color: $black;
    z-index: 999999;
    width: 100%;
    height: 5.5rem;

    .hamburger {
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & > .container.show {
      left: 0;
    }
    & > .container.hide {
      left: -100%;
    }
    & > .container {
      transition: 0.3s;
      background-color: #1d1d1d;
      position: fixed;
      z-index: 99999999;
      left: -100%;
      top: 0;
      width: 80%;
      height: 100vh;
      padding: 2.4rem;
      & > div:nth-of-type(1) {
        margin-top: 2.4rem;
        margin-bottom: 3.2rem;
      }
      & > div:nth-of-type(2) {
        ul {
          li {
            a {
              color: white;
            }
            margin-bottom: 2.4rem;
          }
        }
      }
    }

    & > .navoverlay.show {
      left: 0;
    }
    & > .navoverlay.hide {
      left: -100%;
    }
    & > .navoverlay {
      transition: 0.3s;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: -100%;
      z-index: 9999999;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}
